fastapi==0.115.0
uvicorn[standard]==0.30.6
neo4j==5.23.0
chromadb==0.5.5
sentence-transformers==3.1.1
rank-bm25==0.2.2
Groq
pydantic==2.9.2
python-dotenv==1.0.1
playwright
beautifulsoup4
spacy
gliner
scikit-learn
transformers
requests
